@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    gap: 10px;
}

.card-input {
    width: 50%;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}

.card-input input {
    width: 90%;
    border: none;
    outline: 0;
    font-size: 25px;
    padding: 8px;
}

.card-input input:focus {
    outline: none;
}

.card-input button {
    border: none;
    background-color: transparent;
    text-align: center;
}

.card-input .green-btn {
    color: green;
}

.password-copy {
    font-size: 25px;
    padding-right: 5px;
    cursor: pointer;
    background-color: transparent;
}

.password-create-btn {
    border: none;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
}

.customize-card {
    width: 50%;
    background-color: white;
    padding: 34px;
    border-radius: 5px;
}

.customize-card h1 {
    font-size: 28px;
    font-weight: 900;
    padding-bottom: 10px;
}

.customize-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 30px 0;
}

.password-length fieldset {
    display: flex;
    padding: 10px;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
}

.password-length legend {
    font-weight: 500;
}

.password-length input {
    width: 120px;
    padding: 7px;
    border: none;
    font-size: 20px;
}

.password-length input:focus {
    outline: none;
}

.password-features fieldset {
    display: flex;
    gap: 20px;
    padding: 20px;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
}

.password-features legend {
    font-weight: 500;
}

.password-features input {
    margin-right: 5px;
    accent-color: #dd2222;
}

.password-features label:hover {
    cursor: pointer;
}

.length-range input {
    accent-color: #dd2222;
    width: 100%;
}

.length-range input:focus {
    cursor: pointer;
}

/* responsive */

@media only screen and (max-width: 600px) {
    .App {
        padding: 10px;
    }

    .card-input {
        width: 100%;
        padding: 15px;
    }

    .card-input input {
        width: 90%;
        font-size: 20px;
    }

    .customize-card {
        width: 100%;
        padding: 15px;
    }

    .customize-card h1 {
        font-size: 18px;
        font-weight: 800;
    }

    .customize-area {
        align-items: flex-start;
    }

    .password-length legend {
        font-size: 14px;
    }

    .password-length input {
        width: 80px;
        font-size: 18px;
    }

    .password-features fieldset {
        flex-direction: column;
    }

    .password-features legend {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) {
    .App {
        padding: 10px;
    }

    .card-input {
        width: 100%;
        padding: 15px;
    }

    .card-input input {
        width: 90%;
        font-size: 20px;
    }

    .customize-card {
        width: 100%;
        padding: 15px;
    }

    .customize-card h1 {
        font-size: 20px;
        font-weight: 800;
    }

    .customize-area {
        align-items: center;
    }

    .password-length legend {
        font-size: 15px;
    }

    .password-length input {
        width: 80px;
        font-size: 18px;
    }

    .password-features fieldset {
        flex-direction: row;
    }

    .password-features legend {
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px) {
    .App {
        padding: 40px;
    }

    .card-input {
        width: 50%;
        padding: 15px;
    }

    .card-input input {
        width: 90%;
        font-size: 20px;
    }

    .customize-card {
        width: 50%;
        padding: 15px;
    }

    .customize-card h1 {
        font-size: 20px;
        font-weight: 800;
    }

    .customize-area {
        align-items: flex-start;
    }

    .password-length legend {
        font-size: 14px;
    }

    .password-length input {
        width: 80px;
        font-size: 18px;
    }

    .password-features fieldset {
        flex-direction: column;
    }

    .password-features legend {
        font-size: 14px;
    }
}

@media only screen and (min-width: 992px) {
    .App {
        padding: 40px;
    }

    .card-input {
        width: 55%;
        padding: 20px;
    }

    .card-input input {
        width: 90%;
        font-size: 25px;
    }

    .customize-card {
        width: 55%;
        padding: 20px;
    }

    .customize-card h1 {
        font-size: 20px;
        font-weight: 800;
    }

    .customize-area {
        align-items: center;
    }

    .password-length legend {
        font-size: 16px;
    }

    .password-length input {
        width: 80px;
        font-size: 18px;
    }

    .password-features fieldset {
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding: 20px;
        border: 1px solid #c8c8c8;
        border-radius: 5px;
    }

    .password-features legend {
        font-size: 16px;
    }
}